.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: white;
    color: #7783dd;
}

.navbar-logo {
    font-size: 20px;
    font-weight: bold;
}

.navbar button,Link{
    background-color: white;
    color: #7783dd;
    border-color: #FFD565;;
}
.navbar-links a {
    margin: 0 10px;
    background: white;
    color: #7783dd;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
    background-color: white;
    color: #7783dd;
    border-color: #FFD565;;
}
